.home {
  background-image: url('/home-bg1.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.player img {
  width: 50vw;
  height: 90vh;
  position: absolute;
  top: 20%;
  left: 10%;
  transition: transform 0.3s ease-in-out;
}

.player img:hover {
  transform: translateX(10%);
  cursor: pointer;
}

.ball img {
  width: 9vw;
  height: 18vh;
  position: absolute;
  top: 38%;
  left: 50%;
  transition: transform 0.3s ease-in-out;
}

.ball img:hover {
  transform: translateY(10%);
  cursor: pointer;

}

@media (min-width: 1200px) {
  .player img {
      width: 40vw;
      height: 80vh;
  }
  .ball img {
      width: 8vw;
      height: 15vh;
  }
}

@media (max-width: 992px) {
  .player img {
      width: 60vw;
      height: 70vh;
      top: 20%;
      left: 5%;
  }
  .ball img {
      width: 12vw;
      height: 20vh;
      top: 40%;
      left: 50%;
  }
}

@media (max-width: 768px) {
  .player img {
      width: 80vw;
      height: 60vh;
      top: 10%;
      left: 10%;
  }
  .ball img {
      width: 16vw;
      height: 25vh;
      top: 45%;
      left: 40%;
  }
}

@media (max-width: 480px) {
  .player img {
      width: 80vw;
      height: 40vh;
      top: 40%;
      left: 1%;
  }
  .ball img {
      width: 10vw;
      height: 10vh;
      top: 42%;
      left: 80%;
  }
}
